// SITE COLOURS

$cnavbg: #333544;
$cmainbg: #30313d;
$ctext: #596477;
$ctextlighter: #d8d8d8;
$cprimary: #43afd2;
$cprimaryborder: #176680;
$cdarkborder: #272c35;
$citembg: #333440;
$citemhoverbg: #3a3b49;
$citemtext: #687080;
$citemshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$cinputbg: #292a31;
$cheading: #6f808a;
$csuccessborder: #39946c;
$csuccesstext: #669a66;
$cdangerborder: #79303f;
$cdangertext: #9a3f3f;
