@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$input-shadow: 0;
$input-radius: 0;
$control-radius: 0;
$box-radius: 1px;
$box-background-color: #f8f5f5;
$primary: rgb(0, 183, 255);
$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;
$body-background-color: #f0f0f0;
@import "~bulma/sass/utilities/derived-variables";
$button-focus-color: $link-focus;
$button-focus-border-color: $link-focus-border;
$button-focus-box-shadow-size: 0px;
$button-focus-box-shadow-color: 0;

$input-background-color: #f0f0f0;

$input-focus-color: $grey-darker;
$input-focus-border-color: $link;
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: 0;

@import "~bulma";
@import "~buefy/src/scss/buefy";
