@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$body-background-color: #2f313d;
$background: #31373b;
$bgdarker: #333544;
$bgdarker-invert: invert($bgdarker);
$bglighter: rgb(61, 61, 61);
$bglighter-invert: invert($bglighter);
$bgdarkest: #313131;
$bgdarkest-invert: invert($bgdarkest);

$gather: #42a9cb;
$text: #d8d8d8;
$body-color: #d8d8d8;
$body-size: 14px;
$border: $grey;
$link: #42a9cb;

$primary: $gather;
$primary-invert: invert($gather);

$family-primary: "Nunito";

@import "~bulma/sass/utilities/derived-variables";

$addColors: (
  "bgdarker": ($bgdarker, $bgdarker-invert),
  "bglighter": ($bglighter, $bglighter-invert),
  "bgdarkest": ($bgdarkest, $bgdarkest-invert)
);
$colors: map-merge($colors, $addColors);

$navbar-height: 4rem;

$box-background-color: $bgdarker;

// DROPDOWN

$navbar-item-hover-background-color: lighten(#30313d, 10);

$navbar-dropdown-background-color: $bgdarker;
$navbar-dropdown-border-top: 0;
$navbar-dropdown-arrow: $white;

$navbar-dropdown-item-hover-color: #42a9cb;
$navbar-dropdown-item-hover-background-color: lighten(#30313d, 10);
$navbar-dropdown-item-active-color: #646e80;
$navbar-dropdown-item-active-background-color: lighten(#30313d, 10);

@import "~bulma";
// @import "~buefy/src/scss/buefy";
@import "./stepper.sass";

.title {
  color: #adadad;
}

.label {
  color: #adadad;
}
